/* =========================================================================  */
/* Neutral colors */
/* =========================================================================  */

$black:#1c1c1c;
$white:#fff;

/**
 * Shades of grey, from the darkest to the lightest.
 */
$neutral-1: #929292;
$neutral-2: #DBDBDB;
$neutral-3: #F4F4F4;

$grey:#ccc;
$lighter-grey:#eeeeee;
$light-grey:#ccc;
$medium-grey:#7B7B7B;
$dark-grey:#dfdfdf;

/* =========================================================================  */
/* Colors */
/* =========================================================================  */

$blue: #00f;
$red: #FF332E;

/* =========================================================================  */
/* Aliases */
/* =========================================================================  */

$neutral-text: $neutral-1;
$neutral-border: $neutral-2;
$neutral-bg: $neutral-3;

$primary-color: $black;

$error: $red;
