/* =========================================================================  */
/* Shadows */
/* =========================================================================  */

$default-shadow: 0 0 8px 0 rgba(#000000, 0.12);
$shadow-small: 0 2px 6px 0 rgba(#000000, 0.17);
// Context-specific variants...

$shadow: $default-shadow;

/* =========================================================================  */
/* Transparency */
/* =========================================================================  */

$default-transparency: 0.7;
// Context-specific variants...

$transparency: $default-transparency;
