/* =========================================================================  */
/* App layers */
/* =========================================================================  */

$z-index-header:3;
$z-index-panel: 3;
$z-index-panel-overlay: 2;
$z-index_header-nav: 1;
$z-index-filter: 1;
$z-index-home-mobile: 0;
$z-index-showcase-container: 2;

$z-index-result:0;
$z-index-form:1;
$z-index-introduction:4;
$z-index-item-cover:1;
$z-index-item-title:2;
$z-index-loading:4;
