.c-typefaces {}

.c-typefaces__item {
  @include spacing(s, padding-top);
  @include spacing(xs, padding-bottom);
  border-top: 1px solid $black;
  overflow: hidden;
  @include transition-all

  &:first-child {
    border-top: 0;
  }

  &:hover {
    background-color: $lighter-grey;
  }
}

.c-typefaces__left {
  display: inline-block;
}

.c-typefaces__buttons {
  display: inline-block;
  @include spacing(s, margin-left);
}

.c-typefaces__header {
  display: flex;
  justify-content: space-between;
  opacity: 1;

  &.is-active {
    opacity: 1;
  }
}

.c-typefaces__custom-text {
  transition: 0.1s ease;
  white-space: nowrap;
  margin-right: gutter();
  line-height: 1;
  @include spacing(s, padding-top);
  @include spacing(xs, padding-bottom);
  font-size: 10.2rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.c-typefaces__name {
  @include font('regular');
}

.c-typefaces__author {}

.c-typefaces__date {}

.c-typefaces__weight {
  transition: $transition-hover;
}



.c-typeface--font1 {
  font-family: "Avara";
}

.c-typeface--font2 {
  font-family: "Savate";
}

.c-typeface--font3 {
  font-family: "Sporting";
}

.c-typeface--font4{
  font-family: "YoungSerif";
}
