.c-typefaces {}

.s-ex2__background {
  background: #e5e7b9;
}

.s-ex2__header {
  @include spacing(s, margin-top);
  @include spacing(s, margin-bottom);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.s-ex2__single__header {}

.s-ex2__single__link {
  height: 25%;
  top: 0;
  width: 100%;
}

.s-ex2__main {
  box-shadow: 0 0 40px 0 rgba(0,0,0,.5);
  position: absolute;
  top: 10%;
  z-index: 0;
  background: $white;
  overflow: hidden;
  overflow-x: hidden;
  width: 100%;
  @include media-query('nav') {
      top: 25%;
  }
}

.s-ex2__single__link {
  position: absolute;
  z-index: 1;
}

.c-typefaces__item {
  @include spacing(s, padding-top);
  @include spacing(xs, padding-bottom);
  border-top: 1px solid $black;
  overflow: hidden;
  @include transition-all

  &:first-child {
    border-top: 0;
  }

  &:hover {
    background-color: $lighter-grey;
  }
}

.c-typefaces__left {
  display: inline-block;
}

.c-typefaces__buttons {
  display: inline-block;
  @include spacing(s, margin-left);
}

.c-typefaces__header {
  @include spacing(s, margin-top);
  display: flex;
  justify-content: space-between;
  opacity: 1;

  &.is-active {
    opacity: 1;
  }
}

.c-typefaces__custom-text {
  transition: 0.1s ease;
  white-space: nowrap;
  width: 100%;
  line-height: 1;
  @include spacing(s, padding-top);
  @include spacing(xs, padding-bottom);
  font-size: 10.2rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.c-typefaces__name {
  @include font('regular');
}

.c-typefaces__author {}

.c-typefaces__date {}

.c-typefaces__weight {
  transition: $transition-hover;
}





.c-typeface--font1 {
  font-family: "Avara";
}

.c-typeface--font2 {
  font-family: "Savate";
}

.c-typeface--font3 {
  font-family: "Sporting";
}

.c-typeface--font4{
  font-family: "YoungSerif";
}





.s-ex2__single {}

.s-ex2__single__style1 {
  font-size: 18vw;
  text-align: center;
}

.s-ex2__single__author {
  font-size: 2rem;
  text-align: center;
}

.s-ex2__single__style2 {
  font-size: 2.2rem;
  text-align: center;
  @include spacing(m, margin-top);

  @include media-query('nav') {
    font-size: 3rem;
  }

}

.s-ex2__single__style3 {
  font-size: 6rem;
  text-align: center;
  line-height: 1;
  @include spacing(l, margin-top);

  @include media-query('nav') {
    font-size: 10rem;
  }

}

.s-ex2__single__style4 {
  font-size: 6rem;
  text-align: center;
  line-height: 1;
  @include spacing(l, margin-top);
}

.s-ex2__single__style5 {
  font-size: 3rem;
  text-align: left;
  line-height: 1.2;
  @include spacing(l, margin-top);
  @include media-query('nav') {
    column-gap: 1rem;
    columns: 2;
  }
}

.s-ex2__single__style6 {
  font-size: 2rem;
  text-align: left;
  line-height: 1.2;
  @include spacing(l, margin-top);
  @include spacing(l, margin-bottom);

  @include media-query('nav') {
    column-gap: 1rem;
    columns: 3;
  }
}
