/* =========================================================================  */
/* Text */
/* =========================================================================  */

// ...

/* =========================================================================  */
/* Background */
/* =========================================================================  */

// ...

.o-white {
  background: $white;
}

.o-black {
  background: $black;
  color: $white;
}

.o-light-grey {
  background: $light-grey;
  color: $black;
}
